.cat-info {
  display: flex;
  gap: 50px;
  padding-top: 30px;
}

.catimg {
  width: 40%;
}

.loader,
.error {
  font-weight: 900;
}

.error {
  color: red;
}

.loaderAnimation {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
